body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-color: skyblue;
}
.container {
  background-color: white;
  height: 40vh;
  width: 27vw;
  border-radius: 5px;
}
h1 {
  text-align: center;
  color: rgb(87, 141, 163);
  font-size: 2rem;
}

button {
  height: 5vh;
  width: 6vw;
  font-size: 0.7em;
  border-radius: 5px;
  color: rgb(55, 124, 151);
  border: 2px solid rgb(55, 124, 151);
}

#output,
#input {
  margin: 10px auto;
  display: block;
  height: 5vh;
  width: 23vw;
  border-radius: 5px;
}

#output {
  background-color: white;
  color: black;
  border: 2px solid rgb(55, 124, 151);
}

#input {
  border: 2px solid rgb(55, 124, 151);
}

.buttonBox {
  padding: 20px;
}

@media (max-width: 255px) or (max-width: 1280px) {
  h1 {
    font-size: 1rem;
  }
  button {
    height: 3vh;
    width: 15vw;
    padding: 0;
    margin: 2px;
    font-size: 0.8rem;
  }
  .container {
    background-color: white;
    height: 45vh;
    width: 27vw;
    border-radius: 5px;
  }
}
